*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
}

.home {
    height: 100vh;
    position: relative;
}
video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-content {
    position: relative;
    padding-top: 150px;
    color: #fff;
    text-align: center;
}

.home p {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(50px, 4vw, 40px);
    margin-top: 10px;
    color: #eb2026;
}

a{
    text-decoration: none;
}

.notificacao {
    background-color: #00000088;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    animation: slide-in 0.5s ease-out;
  }
  
  @keyframes slide-in {
    from {
      right: -200px;
    }
    to {
      right: 20px;
    }
  }

  
  /*------------------------------------------------------------------------------------*/

  .glow-on-hover {
    top: 50px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #eb2026;
    background: #11111152;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #8f1601, #ff3318, #7a0000, #811300, #ff8181, #c40000, #5c0000, #000000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:hover{
    color: #fff;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}